*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../assets/1184726.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

/* 
body{
  background: rgba(204, 204, 204, 0.936);
} */